# Rust
/target

# Bazel
/bazel-*

# Benchmark run output
/benchmark_result.txt
/benchmark_entities_result.txt

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Operating System
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
